<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>On adore les Pompiers</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>

  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Pricing</a>
        </li>
        <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li>
      </ul>
    </div>
  </nav>


  <section class="container">
    <h1 class="title">Salut tout le monde</h1>
    <h3>Sous titre</h3>
    <p>Lorem ipsum <span class="ma-classe">lkgslkn</span> dolor sit amet, consectetur adipisicing elit. Perspiciatis quos vitae commodi sit, voluptas eaque adipisci vero repellat molestiae. Nisi dolores sequi harum expedita quia! Rem ipsa impedit necessitatibus itaque?</p>
    <ul>
    {% for personne in liste %}
      <li>{{ personne.firstname}} - {{ personne.lastname}}</li>
    {% endfor %}
    </ul>
  </section>


  <section class="container">
    <form action="/form" method="POST">
      <div class="form-group">
        <label>Prenom</label>
        <input name="firstname" type="text" class="form-control" placeholder="Ton prenom">
      </div>
      <div class="form-group">
        <label>Nom</label>
        <input name="lastname" type="text" class="form-control" placeholder="Ton nom">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </section>


</body>
<!-- <style type="text/css">
  h1 {
    color: red;
    font-family: Arial;
  }
  .ma-classe {
    color: chartreuse;
  }
</style> -->
</html>