<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>
<body>
	<h1>Profile de : {{ personne.lastname }}</h1>
	<h4>prenom : {{ personne.firstname }}</h4>
	<h4>age : {{ personne.age }} ans</h4>


	  <section class="container">
	    <form action="/edit/{{personne.id}}" method="POST">
	      <div class="form-group">
	        <label>Prenom</label>
	        <input name="firstname" type="text" class="form-control" placeholder="Ton prenom">
	      </div>
	      <div class="form-group">
	        <label>Nom</label>
	        <input name="lastname" type="text" class="form-control" placeholder="Ton nom">
	      </div>
	      <button type="submit" class="btn btn-primary">Submit</button>
	    </form>
	  </section>

</body>
</html>